.artisans{
    height:100%;
    padding:20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    gap:30px;
}
.card-style{
    width:510px;
    height:440px; 
    justify-content: center;
    align-items: center;
    text-align:center;
    background-color:white;
    font-family:Graphik;
    border:0.2px solid whitesmoke;
    margin-top:10px;
}
.card-img {
    height:200px;
}
.art-name{
    font-weight:bold;
}
.btn-bg{
    background-color:#00497c;
    color:white;
}
.nos-artisans{
    margin-top:60px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:3px;
    cursor:pointer;
}
h5{
    border:#0074c7;
    padding:10px 26px;
    border-radius:6px;
    text-align:center;
    background-color:#0074c7;
    color:white;
    font-size:16px;
    
}
.nos-artisans img{
    width:100px;
    margin-top:-50px;
}