 .section{
    height:100%;
    width: 100%;
    padding:50px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    gap:10px;
  }
  .product-list{
    width:100%;
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    gap:30px;
    margin:20px 0;
    padding:20px 0;
  }
  .search-product .search-name{
    width: 86%;
    height: 150px;
    padding: 10px 23px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1px solid black;
    box-shadow: 0 3px 5px -1px rgb(187, 185, 185),  0 6px 10px rgb(201, 200, 200), 0 1px 13px rgb(197, 197, 197);
    border-radius: 5px;
  }
  .search{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  .tri{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 30px;
    color: black;
  }
  .search-product{
    height: 160px;
    padding: 20px 50px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
 .category-filter{
  margin-top:20px;
  display:flex;
  gap:10px;
  justify-content:center;
  align-items:center;
  
 }
 .category-filter p{
  text-align:center;
  margin-top:10px;
 }
 .category-filter button{
  font-size:11px;
  font-weight:bold;
 }
  .btnz{
    padding: 5px 10px;
    border: 0.3px solid white;
    background-color: #384050;
    border-radius: 5px;
    cursor: pointer;
    color:white;
  }
  .sort-bg{
    background-color:black;
    color:white;
    font-weight:bold;
    padding:5px 0;
  }
  
  .tri .btn:hover{
    background-color: gray;
    color: white;
    border: 0.3px solid gray;
  }
  .search-name input{
    width: 70%;
    padding: 10px;
    border: 1px solid rgb(201, 198, 198);
    background-color: white;
    border-radius: 5px;
  }
  .search-name img{
    cursor: pointer;
    width:25px;
    margin-left: -33px;
  }
  .section h2{
    text-align: center;
    text-transform: uppercase;
    margin: 40px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  .banner img{
    width: 100%;
    height: 150px;
    cursor: pointer;
  }
  .section .bio{
    font-size: 17px;
    padding: 20px;
    margin: 80px 145px;
    text-align: center;
    line-height: 1.3;
    font-family: 'Comfortaa', sans-serif;
  }
  .section .bio img{
    width: 270px;
  }
  .plus-d{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .plus-p{
    padding:10px 50px;
    font-weight: bold;
    cursor: pointer;
    color: white;
    border-radius: 7px;
    border: 0.3px solid #FDD90B;
    background-color: #FDD90B;
  }
  .plus-p:hover{
    background-color: #151217;
    border: 0.3px solid #151217 ;
  }
  .card-styles{
    width:390px;
    height:270px; 
    padding-top:20px;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-color:white;
    font-family:Graphik;
    border:1px solid white;
    cursor: pointer;
    z-index:3;
    box-shadow: 0 2px 2px -1px white ,  0 2px 2px whitesmoke, 0 1px 3px ;
}
.sort-div{
  padding:20px;
  width:306px;
  z-index:5;
}
.art-names{
    color:#0074c7;
    font-weight:bold;
}
.art-city{
    font-weight:bold;
}
.art-cate{
  margin-top:10px;
  color:#00497c;
}

.link-back img{
  margin-top:-12px;
  width:10px;
}
.btns{
    background-color:#384050; 
    font-size:13px;
}
.cat-btn{
    margin:30px ;
    display:flex;
    gap:10px;
    font-size:12px;
    
}
.link-back{
  display:flex;
  margin-left:30px;
  margin-top:10px;
  gap:15px;
  font-weight:bold;
}
.link-back p{
  cursor:pointer;
}
.links-style{
  text-decoration:none;
  list-style:none;
}
.form-control{
  width:100%;
}
.input-search{
  width:600px;
}
.input-search img{
  border:1px solid gray;
  border-radius:0px  5px 5px;
  background-color:#384050;
  padding:10px;
  cursor:pointer;
  z-index:5;
}
  @media (max-width: 680px)
  {
    .search-product{
      height: 160px;
      padding: 20px 10px;
      justify-content: center;
      align-items: center;
      display: flex;
    }
    .search-product .search-name{
      width: 90%;
    }
    .banner img{
      height: 120px;
    }
    .section .bio{
      margin: 40px 20px;
      font-size: 14px;
    }
    .section .bio img{
      width: 190px;
    }
    .tri{
      gap: 10px;
    }
    .btn{
      font-size: 11px;
      padding: 2px 5px;
      
    }
    h3{
      font-size: 13px;
    }
  }
  @media (max-width: 432px)
  {
    .card-styles{
      width:310px;
  }
    .tri{
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin-top: 20px;
    }
    .btn{
      font-size: 11px;
      padding: 5px 10px;
    }
    h3{
      font-size: 13px;
    }
    .banner img{
      height: 110px;
    }
    .section .bio{
      font-size: 13px;
    }
    .section .bio img{
      width: 160px;
    }
    .input-search{
      width:310px;
    }
    .link-back img{
      width:10px;
      height:10px;
      margin-top:4px;
    }
  }
  @media (max-width: 330px)
  {
    .banner img{
      height: 90px;
    }
  }
  .input-search{
    width:270px;
  }
  @media (max-width: 330px)
  {
    .banner img{
      height: 70px;
    }
     .section .bio{
      font-size: 11px;
    }
  }
  