.logo{
    height:120px;
    margin-right:50px;
}
.bg-color{
    background:#f1f8fc;
    border-bottom:0.1px solid whitesmoke;
    box-shadow: 0 0 5px #ceddfb;
}
.ft-s{
  font-size:15px;
}
.bg-search{
  background:#0074c7; 
  color:white; 
}
.ft-size{
  font-size:19px;
  font-family:Graphik;
}
.item:hover{
  font-weight:bold;
  color:#0074c7;
}
.links{
  list-style-type: none;
  list-style: none;
  text-decoration: none;
  color:black;
}
@media (max-width: 410px){
  .logo{
    height:100px;
    margin-right:0px;
}
}
