/****************************NAVBAR*****************************/
.header{
  width: 100%;
  background-color:#f1f8fc;
  min-height:180px;
  z-index: 5;

}
.link{
  text-decoration: none;
  list-style:none; 
  margin-left:30px;
  font-weight:bold;
}
.links-styles{
  text-decoration: none;
  list-style:none; 
  color:black;
}
.link a:hover{
  color:#0074c7;
}
.colorLog img{
  width:280px;
}
.dropdown-content{
  display:flex;
  flex-direction:column;
  position:absolute;
  width:100%;
  min-height:5px;
  z-index:1;
}
.result-search{
  display:flex;
  background-color:#f1f8fc;
  justify-content:center;
  text-align:center;
  width:100%;
}
.result-search p{
  text-align:right;
  cursor:pointer;
  margin-right:20px;  
  justify-content:center;
  text-align:center;
}
.result-search img{
  margin-bottom:5px;
  margin-right:5px;
}
.flex-div{
  min-height:180px;
}
.search-btn{
background-color:#0074c7;
color:white;
}
.d-flex{
  margin-right:30px;
}
.search-input{
  margin-top:-50px;
}
.search-input button{
  height:40px;
  margin-top:50px;
}
@media (max-width: 991px){
  .d-flex{
    margin-left:30px;
  }
}
@media (max-width: 480px){
  .d-flex{
    margin-left:30px;
  }
  .colorLog img{
    width:240px;
  }
.result-search p{
  text-align:right;
  cursor:pointer;
  font-size:12px;
  margin-right:10px;
}
}
@media (max-width: 380px){
  .colorLog img{
    width:220px;
  }
  .result-search p{
    text-align:right;
    cursor:pointer;
    font-size:10px;
    margin-right:5px;
  }
  }


